<div #container class="note-card-container">
    <div class="note-card-content">
        <h1 class="note-card-title">
            Loren
        </h1>
        <div class="note-card-body">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A ex reiciendis consequatur incidunt minus quia esse delectus asperiores eveniet nulla dignissimos temporibus nihil itaque obcaecati, corrupti velit unde laboriosam adipisci.</p>
            <div class="fade-out-truncation"></div>
        </div>
    </div>
    <div class="x-button">
        
    </div>
</div>