<div class="edit-user-layout">
  <form [formGroup]="formValue" class="form-content">
    <div class="field">
      <label class="label">Name</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          formControlName="name"
          type="text"
          placeholder="Name"
        />
      </div>
      <span
        class="has-text-danger"
        *ngIf="formValue.get('name')?.touched && formValue.get('name')?.errors"
      >
        Name is required(min1)
      </span>
    </div>

    <div class="field">
      <label class="label">Contact</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="number"
          formControlName="number"
          placeholder="Contact  number ex:999xxxxxx"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
        <span
          class="has-text-danger"
          *ngIf="
            formValue.get('number')?.touched && formValue.get('number')?.errors
          "
        >
          Please Enter valid number(10 digit)
        </span>
      </div>
      <!-- <p class="help is-success">This username is available</p> -->
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          formControlName="email"
          type="email"
          placeholder="Email input"
          required
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
        <span
          class="has-text-danger"
          *ngIf="
            formValue.get('email')?.touched && formValue.get('email')?.errors
          "
        >
          Please enter valid mail('ex:@gmail.com')
        </span>
      </div>
      <!-- <p class="help is-danger">This email is invalid</p> -->
    </div>

    <div class="field">
      <label class="label">Salary</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          formControlName="salary"
          type="number"
          placeholder="Salary"
          
        />
        <span
          class="has-text-danger"
          *ngIf="
            formValue.get('salary')?.touched && formValue.get('salary')?.errors
          "
        >Enter min 3 char
        </span>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
      <!-- <p class="help is-danger">This email is invalid</p> -->
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button
          *ngIf="showSave"
          type="submit"
          class="button is-link"
          (click)="postDetails()"
          [disabled]="!formValue.valid"
        >
          save
        </button>
      </div>
      <div class="control">
        <button
          *ngIf="showUpdate"
          type="submit"
          class="button is-link"
          (click)="updateDetails()"
          [disabled]="!formValue.valid"
        >
          Update
        </button>
      </div>
      <div class="control">
        <button routerLink="/" class="button is-link is-light">Cancel</button>
      </div>
    </div>
  </form>
</div>
